.home {
  margin-top: 20px;
}

.head-1 {
  width: 85%;
  overflow: hidden; /* Ensures the content is not revealed */
  border-right: 0.1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4s steps(30, end), blink-effect 0.5s infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-effect {
  from,
  to {
    border-color: transparent;
  }
  10% {
    border-color: white;
  }
}

@keyframes loop {
  100% {
    animation-iteration-count: infinite;
  }
}
