@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  height: 100px;
  line-height: 100px;
  background-color: rgb(239, 197, 9);
  overflow: hidden;
  display: flex;
}

.logo img {
  height: 100px;
}

.links {
  width: 85%;
  text-align: right;
}

.links a {
  height: 100%;
  padding: 40px;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  transition: 1s ease-out;
}

.links a:hover {
  color: black;
  background-color: rgba(255, 249, 224, 0.47);
}
